
footer {
    background-color: #383c3c;
    padding: 20px;
    border-top: #30d9d1 2px solid;
    position: relative;
    color: #BDBDBD;
    margin-top: -50px;
    clear: both;
}

.footer-initial {
    display: flex;
}

.footer-initial div {
    width: 33.3%;
    height: 35vh;
}

.left p {
    margin: 0;
}

.left label {
    color: #fffef1;
}

.left select {
    background-color: rgba(255, 255, 255, 0.671);
    text-align: center;
    border: none;
    border-radius: 5px;
    height: 20px;
    width: 100px;
}

.mid {
    display: flex;
}

.mid-left p {
    height: 100%;
}

.mid-left a {
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    margin: 5px;
    color: #BDBDBD;
}

.mid-left a:hover {
    text-decoration: underline;
    color: #23A6D5;
    transition: 0.7s;
    cursor: pointer;
}

.mid-center span:hover {
    text-decoration: underline;
    color: #23A6D5;
    transition: 0.7s;
    cursor: pointer;
}

.mid-right .btn:hover {
    text-decoration: underline;
    color: #23A6D5;
    transition: 0.7s;
    cursor: pointer;
}

.mid-right .title {
    color: #000000cc;
}

.right h1 {
    color: #000000cc;
    text-align: center;
}

.right form {
    width: 270px;
    margin: 0 auto;
}

.right form input {
    float: right;
    background-color: #BDBDBD;
    border: #001111 1px solid;
    border-radius: 5px;
}

.right form #btn {
    background-color: transparent;
    width: 75px;
    height: 25px;
    color: #23A6D5;
    border: #23A6D5 1px solid;
    float: none;
    margin: 0 97px;
    margin-top: 15px;
    transition: 0.7s;
}

.right form #btn:hover {
    color: #000;
    background-color: #23A6D5;
    transition: 0.7s;
}

.footer-end p {
    text-align: left;
    border-top: #BDBDBD 1.5px solid;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 5px 0 0 5px;
}

.footer-end a {
    text-decoration: none;
    color: #BDBDBD;
    font-size: 25px;
    padding: 5px;
    margin-bottom: 5px;
    float: right;
    transition: 1.5s;
}

.footer-end span {
    color: #ffffff;
}

.footer-end span:hover {
    color: #23A6D5;
    text-decoration: underline;
    transition: 0.7s;
    cursor: pointer;
}

#pageEditor:hover {
    color: #3330D9;
    transition: 1.5s;
    transform: rotateZ(360deg);
}

#backtotop:hover {
    color: #fffef1;
    transition: 1.5s;
    transform: rotateZ(360deg);
}

#fb:hover {
    color: rgb(53, 83, 152);
    transition: 1.5s;
    transform: rotateZ(360deg);
}

#linkedin:hover {
    color: rgb(0, 119, 181);
    transition: 1.5s;
    transform: rotateZ(360deg);
}

#tweet:hover {
    color: rgb(0, 172, 238);
    transition: 1.5s;
    transform: rotateZ(360deg);
}

#Youtube:hover {
    color: rgb(196, 48, 43);
    transition: 1.5s;
    transform: rotateZ(360deg);
}